<%= form_tag(:action => 'shared_components') do %>
  <p>Select your library:</p> <br />
  <%= radio_button_tag(:lib, 'MORSE') %>
  <%= label_tag(:lib, "Morse Code") %>
  <%= radio_button_tag(:lib, 'REVERSAL') %>
  <%= label_tag(:lib, "Reversal Cypher") %>
  <%= radio_button_tag(:lib, 'NUMERICAL') %>
  <%= label_tag(:lib, "Numerical Substitution") %>
  <%= radio_button_tag(:lib, 'SEEDED') %>
  <%= label_tag(:lib, "Generated Library") %>
  <br />

  <% if @lib == 'SEEDED' %>
    <%= label_tag(:seed, "Enter seed if decoding:") %>
    <%= text_field_tag(:seed) %>
    <br />
  <% end %>

  <%= text_area_tag(:cypher_input, "Place your text here") %>
  <br />
  <%= submit_tag("Submit") %>

<% end %>

<%= link_to "Encode", 'cypher/encode', id: 'encode', remote: true %>
<%= link_to "Decode", 'cypher/decode', id: 'decode', remote: true %>
<br />

<div id="cypher-container">
  <p id="cypher-result"></p>
</div>
