<!DOCTYPE html>
<html>
  <head>
    <title>GettinToasty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <div id="gallery-background"><div id="shot-img-active"></div></div>
  <%= render 'layouts/sidebar' %>

  <body>
    <div class='content'>
      <%= yield %>
    </div>
  </body>
</html>
